@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
  color: #31111d;
  background-color: #ffffff;
  overflow: hidden;
}

button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}
